body,
html,
h3,
p,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: auto;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.panel-bg {
  width: 87.5rem;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
}

.Bookstore-CMS {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.links {
  color: grey;
  margin-right: 20px;
}

.BookContainer {
  width: 95%;
  margin: auto;
}

.booksUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.booksLi {
  width: 100%;
  box-shadow: 3px 1px 3px 1px rgb(131, 131, 136);
  margin-bottom: 10px;
}

.Booktitle {
  color: black;
}

button {
  background-color: rgb(22, 173, 243);
  border: rgb(24, 182, 250);
  color: white;
  width: 80px;
  padding: 10px;
  margin-bottom: 10px;
}

.Newbook {
  margin-left: 30px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-left: 30px;
}

input {
  margin-right: 20px;
  height: 30px;
  margin-top: 12px;
}

.Horizontalrule {
  width: 95%;
  margin-top: 50px;
  margin-left: auto;
}
